body {
  background-color: #000;
}


@media only screen and (max-width:1000px) and (min-width:700px) {
  #header-top {
    min-height: 100px;
  }
}



.jumbotron-img {
  background-image: url("../img/graffiti2.jpg");
  background-size: cover;
  height: 94vh;
  position: ;
}

.banner h1 {
  font-family: 'Shrikhand', cursive;
  font-size: 40px;
  color: #fff;
  margin-top: 15vh;
  margin-bottom: 10vh;
}

.banner p {
  font-family: 'Shrikhand', cursive;
  font-size: 20px;
  color: #fff;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar-inverse {
  background-color: #000;
  background-image: none;
  background-repeat: no-repeat;
 }

.navbar .link, .navbar .nav li a{
  font-family: 'Shrikhand', cursive;
  color: #c61aff;
  font-size: 25px;
}

.navbar .link, .navbar .nav li a:hover {
  font-family: 'Press Start 2P', cursive;
  color: #e6e600;
  font-size: 40px;
}

/* Body content */

@keyframes intro1 {
  0%   {background-color: #c61aff; left:0px; top:0px;}
  25%  {background-color: #ffff4d; left:200px; top:0px;}
  50%  {background-color: #003cb3; left:200px; top:200px;}
  75%  {background-color: #00802b; left:0px; top:200px;}
  100% {background-color: #b30000; left:0px; top:0px;}
}

.intro {
  font-family: 'Press Start 2P', cursive;
  color: #fff;
  font-size: 50px;
  text-shadow: 2px 2px 2px #000;
  margin-top: 10vh;
  padding-top: 5vh;
  padding-bottom: 5vh;
  background-image: url("../img/banner2.png");
  background-size:100%;
  background-repeat: no-repeat;
  height: 20vh;
  width:100%;
  overflow:hidden;
}

.animation1 {
  animation-name: intro1;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}

@keyframes intro2 {
  0%   {background-color: #b30000; left:0px; top:0px;}
  25%  {background-color: #00802b; left:200px; top:0px;}
  50%  {background-color: #003cb3; left:200px; top:200px;}
  75%  {background-color: #ffff4d; left:0px; top:200px;}
  100% {background-color: #c61aff; left:0px; top:0px;}
}

.intro2 {
  font-family: 'Press Start 2P', cursive;
  color: #fff;
  font-size: 50px;
  text-shadow: 2px 2px 2px #000;
  margin-top: 15vh;
  margin-bottom: 15vh;
  padding-top: 5vh;
  padding-bottom: 5vh;
  background-image: url("../img/banner2.png");
  background-size:100%;
  background-repeat: no-repeat;
  height: 20vh;
  width:100%;
  overflow:hidden;
}

.animation2 {
  animation-name: intro2;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}

.btn {
  font-family: 'Press Start 2P', cursive;
}

.bio {
  color: #000;
  font-family: 'Shrikhand', cursive;
  font-size: 18px;
  background-color: #f4f4f4;
  padding-top: 5vh;
  padding-bottom: 10vh;
  padding-left: 2vh;
  padding-right: 2vh;

}


.img1 {
  background-image: url("../img/splatter2.PNG");
  width: 35em;
  height: 30em;
  margin-bottom: 20px;
  border-radius: 30%;
  margin-bottom: 60px;
}

.yellow {
  color: #ffff4d;
  text-shadow: 1px 1px 1px #000;
}

.img2 {
  background-image: url("../img/splatter4.PNG");
  width: 35em;
  height: 30em;
  margin-bottom: 20px;
  border-radius: 30%;
  margin-bottom: 60px;
}

.green {
  color: #00802b;
  text-shadow: 1px 1px 1px #000;
}

.img3 {
  background-image: url("../img/splatter5.PNG");
  width: 35em;
  height: 30em;
  margin-bottom: 20px;
  border-radius: 30%;
  margin-bottom: 60px;
}

.red {
  color: #b30000;
  text-shadow: 1px 1px 1px #000;
}

.img4 {
  background-image: url("../img/splatter3.PNG");
  width: 35em;
  height: 30em;
  margin-bottom: 20px;
  border-radius: 30%;
  margin-bottom: 60px;
}

.blue {
  color: #003cb3;
  text-shadow: 1px 1px 1px #000;
}

.img-item {
  width: 80%;
  height: 35vh;
  margin-top: 70px;
  border-radius: 50%;
}

.disclaimer {
  font-family: 'Shrikhand', cursive;
  font-size: 37px;
}

.footer {
  background-image: url("../img/feedback.jpg");
  background-size:100%;
  background-repeat: no-repeat;
  height: 540px;
  width:100%;
  overflow:hidden;
  margin-top: 15vh;
}

.footer-heading {
  font-family: 'Press Start 2P', cursive;
  color: #e65c00;
  font-size: 60px;
}

.contact-icon {
  width: 100%;
  height: 100px;
}
